* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    Background: linear-gradient(to right, #35b1d6, #4401d5);
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#bla, #blu {
   Color:#ffffff;
}

#blau{
   Color: #ffffff;
  } 
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

# {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFFFF;
}

.project {
    margin: 15px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #00000080;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Dropdown button */
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The contaoner (div)- needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;    
}

/* Dropdown content{Hidden by default} */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #000000;
    minimum-width: 160px;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px;
}

/* Links inside the dropdown */
.dropdown-content a{
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: #000000;
}
/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
/* change the background-color of the dropdown menu when the dropdown content is shown */
background-color{
    #000000
}